@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin-bottom: 0;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: Myriad Pro;
  src: url("../fonts/MyriadPro-Regular.ttf");
}

@font-face {
  font-family: 'Nexa';
  src: local("Nexa Bold"), local("NexaBold"), url("../fonts/nexabold.woff2") format("woff2"), url("../fonts/nexabold.woff") format("woff"), url("../fonts/nexabold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.block__1 {
  margin: auto;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  margin-top: 25px;
}

.container__icon {
  display: flex;
  flex-wrap: wrap;
  margin-right: -100%;
}

.conteiner__icon2 {
  display: flex;
  margin: 20px 0 0 0;
}

.conteiner__icon2 > div {
  margin: 0 0 0 10px;
}

.backgroundicon {
  margin-left: 20px;
  background-color: #1a9bdc;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 11px;
  color: white;
}

.backgroundicon1 {
  padding: 12px 0 0 16px;
}

.block1__p1 {
  font-weight: 600;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.block1__p2 {
  font-family: "Myriad Pro";
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.block__2 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px auto;
}

.block__2__div1 {
  transition: 1s;
}

.block__2__div1 > a {
  font-size: 20px;
  font-family: "Nexa";
  color: #6c6c6c;
  margin-left: 20px;
}

.block__2__div1 > a:hover {
  color: black;
}

.block__2__div2 .fa-linkedin-in {
  padding: 5px;
}

.block__2__div2 > a {
  margin-left: 10px;
  color: black;
}

.block__2__div2 > a .fa-youtube:hover {
  color: red;
}

.block__2__div2 > a .fa-facebook-f:hover,
.block__2__div2 .fa-google-plus-g:hover {
  color: #5151eb;
}

.block__2__div2 > a .fa-vk:hover {
  color: #2787F5;
}

.block__2__div2 > a .fa-linkedin-in:hover {
  color: white;
  background-color: #5e5ecf;
  border-radius: 5px;
}

.block__2__div2 > a .fa-google-plus-g:hover {
  color: #4285F4;
}

.block__3 {
  background: url("../img/Layer 222.jpg") 100% 100% no-repeat;
  height: 767px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.butger__menu {
  position: fixed;
  height: 30px;
  width: 30px;
  background-color: red;
  top: 10px;
  right: 10px;
}

.button__one {
  text-decoration: none;
  color: white;
  padding: 11px;
  background-color: #1a9bdc;
  width: 145px;
  text-align: center;
  display: block;
  border-radius: 35px;
  font-family: Lato,sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin: 30px auto 85px auto;
}

.button__one:hover {
  color: white;
}

h1 {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-weight: 600;
  text-align: center;
  color: #474747;
  margin-bottom: 20px;
  transition: 1s;
}

.block3__p {
  font-family: "Myriad Pro";
  font-size: 17px;
  text-align: center;
}

.div3 {
  max-width: 600px;
  padding: 25% 0 0 0;
  transition: 1s;
}

.block__4 {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.block__4 > div {
  width: 25%;
}

.block4__div1 {
  background-color: #43b1d2;
  transition: 1s;
}

.block4__div1 > p {
  text-align: center;
}

.block4__div1 > p > img {
  padding: 10px 0 0 5px;
}

.block4__div2 {
  background-color: #3fb6c6;
  transition: 2s;
}

.block4__div2 > p {
  text-align: center;
}

.block4__div2 > p > img {
  padding: 13px 0 0 5px;
}

.block4__div3 {
  background-color: #3cbbbb;
}

.block4__div3 > p {
  text-align: center;
}

.block4__div3 > p > img {
  padding: 8px 0 0 2px;
}

.block4__div4 {
  background-color: #37c3a8;
}

.block4__div4 > p {
  text-align: center;
}

.block4__div4 > p > img {
  padding: 10px 0 0 5px;
}

.block4__p1 {
  font-size: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.block4__p2 {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  width: 266px;
  text-align: center;
  margin: auto;
  padding-bottom: 50px;
}

.block4__img {
  background-color: white;
  width: 70px;
  height: 70px;
  margin: 60px auto 20px auto;
  border-radius: 50%;
}

.block__5 > h3 {
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 40px;
}

.block__5 > p {
  max-width: 850px;
  margin: 0 auto 0 auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
}

.block__5 > div {
  display: flex;
  justify-content: space-around;
}

.block5__img {
  background-color: #1a9bdc;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.block5__img1 {
  padding: 13px 0 0 17px;
}

.block5__img2 {
  padding: 13px 0 0 16px;
}

.block5__img3 {
  padding: 18px 0 0 13px;
}

.block5__img4 {
  padding: 12px 0 0 13px;
}

.block5__div1 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.block5__div1 > p {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-left: 30px;
}

.block5__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.block5__p {
  font-size: 16px;
  max-width: 387px;
  font-family: "Myriad Pro";
}

.block__6 {
  background: url("../img/Фон.jpg") 100% 100% no-repeat;
  background-size: cover;
  height: 580px;
  display: flex;
}

.block__6 > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block__6 > div p {
  text-align: center;
}

.block6__p1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 500;
}

.color__border {
  height: 5px;
  width: 100px;
  background-color: white;
  margin: auto;
}

.block6__p2 {
  font-size: 25px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 15px;
}

.block__7 {
  display: flex;
  padding: 0;
}

.block7__div1 > h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  color: #494949;
  margin: 100px 0 50px 0;
  font-weight: 700;
  text-align: center;
}

.block7__div1 > p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #6a6a6a;
  line-height: 1.5;
  margin-bottom: 50px;
}

.block7__div1 > div {
  display: flex;
}

.block7__div2 {
  margin-left: 50px;
  margin-bottom: 50px;
}

.block7__div2 > h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  color: #494949;
  margin: 100px 0 20px 0;
  font-weight: 700;
}

.block7__div2 > p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #6a6a6a;
  line-height: 2;
  margin-bottom: 50px;
  margin-top: 10px;
}

.dropdown-toggle::after {
  display: none;
}

.btn-secondary {
  border-radius: 40px;
  width: 360px;
  text-align: left;
  height: 45px;
  background-color: #0087be;
  margin-top: 8px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.borderine {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: -4px;
}

.borderine::before {
  font-size: 0.6em;
  display: inline-block;
  margin-left: 15px;
  vertical-align: -0.1em;
  content: "";
  border-left: .8em solid;
  border-top: .7em solid transparent;
  border-right: 0;
  border-bottom: .7em solid transparent;
  margin-top: 9px;
  color: #0087be;
}

.great_back {
  background-color: #e2e2e2;
  color: black;
  font-weight: 600;
}

.block7__divcontainer {
  margin-right: 40px;
}

.block7__div1__p1 {
  font-size: 20px;
  margin: 35px 0 17px 0;
}

.block7__div1__p1,
.block8__div > h3,
.block__9 > h3,
.block__10 > div > h2,
.button2 {
  font-family: 'Montserrat', sans-serif;
}

.block7__div1__p2 {
  margin: 30px 0 0 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.block__8 {
  background: url("../img/Фон2.jpg") 100% 100% no-repeat;
  background-size: cover;
  background-position: center;
}

.block__8 > div {
  padding: 0;
}

.block8__div > h3 {
  font-size: 45px;
  color: white;
  text-align: center;
  padding: 90px 0 20px 0;
}

.block8__div > p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 55px;
}

.block8__div > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.block8__div > div > div {
  margin: 0 30px 30px 0;
}

.block8__divmargin {
  padding-bottom: 90px;
}

.block__9 {
  padding: 0;
  font-weight: 600;
}

.block__9 > h3 {
  font-size: 45px;
  color: #494949;
  text-align: center;
  margin: 150px 0 50px 0;
}

.block__9 > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.block__9 > p {
  font-family: "Myriad Pro";
  font-size: 16px;
  color: #494949;
  text-align: center;
  margin-bottom: 80px;
}

.block__9 a {
  color: #0087be;
  margin-right: 15px;
}

.block9__div {
  margin-bottom: 25px;
}

.block9__div > p {
  text-align: center;
}

.block9__p1 {
  font-family: "Myriad Pro";
  font-size: 25px;
  color: #494949;
  font-weight: 600;
  margin: 25px 0 15px 0;
}

.block9__p2 {
  font-family: "Myriad Pro";
  font-size: 16px;
  color: #494949;
  font-weight: 600;
  margin-bottom: 35px;
}

.block9__p3 {
  margin-bottom: 130px;
}

.button__margin1 {
  margin: 0;
  min-width: 145px;
  width: auto;
}

.block__10 {
  background-color: #e2e2e2;
}

.block__10 > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.block__10 > div > h2 {
  font-size: 30px;
  color: #494949;
  font-weight: 600;
  margin: 70px 0;
}

.block__10 > div > a {
  margin-bottom: 30px;
}

.footer__div1 {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

footer {
  background-color: #171717;
  color: #626262;
}

footer > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer > div > div {
  margin-right: 10px;
}

footer p {
  font-family: 'Open Sans', sans-serif;
}

.footer__div2 > a {
  display: block;
  color: #626262;
  margin-bottom: 20px;
}

.footer__div2 > a::before {
  font-size: 0.6em;
  display: inline-block;
  margin-left: 15px;
  vertical-align: -0.1em;
  content: "";
  border-left: .8em solid;
  border-top: .7em solid transparent;
  border-right: 0;
  border-bottom: .7em solid transparent;
  margin-top: 9px;
  color: #0087be;
  margin-right: 10px;
}

.footer__div3 form {
  display: flex;
  flex-direction: column;
}

.footer__div3 form > input {
  margin-bottom: 10px;
  background-color: inherit;
  padding-bottom: 20px;
  border-bottom: 1px solid #626262;
}

.footer__div3 form > textarea {
  background-color: inherit;
  color: white;
  border-bottom: 1px solid #626262;
  padding-bottom: 100px;
  margin-bottom: 15px;
}

.color_foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color_foot > a {
  color: white;
}

.footer__p {
  font-size: 22px;
  color: white;
  margin: 100px 0 50px 0;
}

.icon_margin {
  margin-right: 42px;
}

.icon_margin1 {
  margin-right: 60px;
}

.button2 {
  padding: 10px 0;
  background-color: #0087be;
  border-radius: 30px;
  font-size: 12px;
  color: white;
}

#menuToggle {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 10px;
  right: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menuToggle input {
  display: flex;
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  /* hide input */
  z-index: 1;
  /* top of the menu */
}

#menuToggle span {
  width: 55px;
  height: 8px;
  margin-bottom: 10px;
  background: #7f8fa6;
  border-radius: 4px;
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

#span1 {
  transform-origin: 4px 0px;
}

#span3 {
  transform-origin: bottom right;
}

#menuToggle input:checked ~ #span1 {
  background-color: #0c2461;
  transform: rotate(45deg) translate(8px);
}

#menuToggle input:checked ~ #span2 {
  background-color: #0c2461;
  transform: rotate(495deg) translate(4px);
}

#menuToggle input:checked ~ #span3 {
  background-color: #0c2461;
  transform: rotate(45deg);
  opacity: 0;
}

@media (min-width: 1200px) {
  .remmargintop {
    margin-top: -300%;
  }

  .remmarginLeft {
    margin-left: -200%;
    transition: 1s;
  }

  .remmarginLeft2 {
    margin-top: -200%;
    transition: 1s;
  }

  .remmarginRight {
    margin-right: -200%;
  }

  #block5_div {
    margin-right: -1000%;
    transition: 1s;
  }

  #div_is_one {
    margin-right: -500%;
    transition: 1s;
  }

  .addmarginTop {
    margin-top: 0;
    transition: 1s;
  }

  .addmarginBottom {
    margin-bottom: 0;
    transition: 1s;
  }

  .addmarginLeft {
    margin-left: 0 !important;
    transition: 1s;
  }

  .addmarginRight {
    margin-right: 0;
    transition: 1s;
  }
}

@media (max-width: 1200px) {
  .block__4 > div {
    width: 50%;
  }

  .block7__div2 {
    text-align: center;
  }

  .block__7 {
    display: block;
  }

  .block7__div1 {
    display: block;
  }

  .block7__div2 > h3 {
    margin-top: 40px;
  }

  .button__margin {
    margin: 40px auto 50px auto;
  }

  .logo {
    display: none;
  }

  .container__icon {
    margin-bottom: 20px;
  }
}

@media (max-width: 1180px) {
  .block5__container > div {
    margin: 0 20px 30px 0;
  }

  .block5__imgdiv {
    display: none;
  }
}

@media (max-width: 1140px) {
  .block__1 {
    height: auto;
  }
}

@media (max-width: 1000px) {
  .block__11 > div {
    justify-content: space-around;
  }

  .block__1 {
    display: none;
  }

  .block__2 {
    display: none;
  }

  #menuToggle {
    display: flex;
  }
}

@media (max-width: 850px) {
  .block7__div1 > div {
    display: block;
    text-align: center;
  }

  .block7__divcontainer {
    margin-bottom: 40px;
    margin-right: 0;
  }

  .block__5 > div {
    display: block;
  }

  .block5__div1 {
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 650px) {
  .block__4 > div {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .btn-secondary {
    max-width: 360px;
    width: auto;
  }

  .block7__div2 {
    margin-left: 0;
    margin: 0 6px 50px 6px;
  }
}